In [1]:
import pandas as pd

In [4]:
# Pandas Series -Like a Table Column- 1 dimensional Array Holding Any type of Data

In [3]:
list=[1,2,3,4,5]
my_var=pd.Series(list)
print(my_var)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Print specific value from index
my_var[2]

3

In [10]:
#Labels using the index argument
list2=['a','b','c','d','e']
my_index=[1,2,3,4,5]
my_var1=pd.Series(my_index,list2)
print(my_var1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
my_var1['c']

3

In [18]:
#Key Value Dictionary
cars={
    'Tesla':12,
    'BMW': 15,
    'Ford': 20,
    'Mercedes': 18,
    'Toyota': 25
}
my_var2=pd.Series(cars)
print(my_var2)

Tesla       12
BMW         15
Ford        20
Mercedes    18
Toyota      25
dtype: int64

In [19]:
# DATAFRAME

In [20]:
from numpy.random import randn

In [23]:
# 5 rows and 3 columns
my_data=randn(5,3)

In [29]:
# Create a DataFrame
col=['Column1','Column2','Column3']
row=['A','B','C','D','E']
# in arguments, first is data, second is columns, third is index
my_df=pd.DataFrame(my_data,row,col)
print(my_df)

    Column1   Column2   Column3
A -0.150678  2.092245 -0.483439
B -0.422024  0.124719 -0.248550
C  0.530985  0.566653 -0.286595
D  0.813772  1.960004  1.155752
E -1.004067 -1.384544  0.143563

In [33]:
#Import CSV File
my_df1=pd.read_csv('dog_data.csv')

In [38]:
# To Pull out data we can use
my_df1.loc[0]

Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip       15236
Name: 0, dtype: object

In [39]:
# For multiple rows
my_df1.loc[[0,5]]

              Breed  Color  DogName  OwnerZip
0          COCKAPOO  BROWN  CHARLEY     15236
5  SCOTTISH TERRIER  BLACK   BAILEY     15129

In [40]:
# Print first 5 rows of the DataFrame
my_df1.head(5)

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [43]:
#print last 5 rows of the DataFrame
my_df1.tail(5)

               Breed        Color DogName  OwnerZip
14  BRITTANY SPANIEL  WHITE/BROWN   ELLIE     15228
15             MIXED        WHITE   RUSTY     15120
16       TERRIER MIX      SPOTTED   ANNIE     15239
17    COCKER SPANIEL       BLONDE  JUILET     15240
18    COCKER SPANIEL        BLACK   ROMEO     15214

In [44]:
# we can use info function to get the information about the DataFrame
my_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     19 non-null     object
 1   Color     19 non-null     object
 2   DogName   19 non-null     object
 3   OwnerZip  19 non-null     int64
dtypes: int64(1), object(3)
memory usage: 740.0+ bytes

In [50]:
# for description of the DataFrame
my_df1.describe()

           OwnerZip
count     19.000000
mean   15189.526316
std       61.139520
min    15090.000000
25%    15124.500000
50%    15228.000000
75%    15238.000000
max    15240.000000

In [56]:
#for specific column description
my_df1[['Color']].describe()

              Color
count            19
unique           10
top     WHITE/BROWN
freq              5

In [59]:
# To check dimensions of dataframe
my_df1.ndim

2