In [1]:
import numpy as np
import pandas as pd

In [42]:
my_df=pd.read_csv('dog_data.csv')
my_df

                  Breed        Color            DogName  OwnerZip
0              COCKAPOO        BROWN            CHARLEY   15236.0
1          GER SHEPHERD  BLACK/BROWN             TACODA   15238.0
2         BELG MALINOIS      BRINDLE               EICH   15238.0
3                 MIXED  BLACK/BROWN              ARROW   15104.0
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY   15139.0
5      SCOTTISH TERRIER        BLACK             BAILEY   15129.0
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER   15090.0
7         DACHSHUND MIX  WHITE/BROWN              LEROI   15101.0
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS   15238.0
9    LABRADOR RETRIEVER       YELLOW              TAFFY   15228.0
10         BICHON FRISE        WHITE               DUDE   15238.0
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE   15238.0
12     AM PITT BULL MIX        BROWN               KING   15235.0
13     AM PITT BULL MIX        WHITE              EMILY   15108.0
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE   15228.0
15                MIXED        WHITE              RUSTY   15120.0
16          TERRIER MIX      SPOTTED              ANNIE       NaN
17       COCKER SPANIEL       BLONDE             JUILET   15240.0
18       COCKER SPANIEL        BLACK              ROMEO   15214.0

In [12]:
# Remove row of Null values
# As you can see , row 16 has a null value in the 'ownerzip' column.
my_df.dropna()

                  Breed        Color            DogName  OwnerZip
0              COCKAPOO        BROWN            CHARLEY   15236.0
1          GER SHEPHERD  BLACK/BROWN             TACODA   15238.0
2         BELG MALINOIS      BRINDLE               EICH   15238.0
3                 MIXED  BLACK/BROWN              ARROW   15104.0
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY   15139.0
5      SCOTTISH TERRIER        BLACK             BAILEY   15129.0
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER   15090.0
7         DACHSHUND MIX  WHITE/BROWN              LEROI   15101.0
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS   15238.0
9    LABRADOR RETRIEVER       YELLOW              TAFFY   15228.0
10         BICHON FRISE        WHITE               DUDE   15238.0
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE   15238.0
12     AM PITT BULL MIX        BROWN               KING   15235.0
13     AM PITT BULL MIX        WHITE              EMILY   15108.0
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE   15228.0
15                MIXED        WHITE              RUSTY   15120.0
17       COCKER SPANIEL       BLONDE             JUILET   15240.0
18       COCKER SPANIEL        BLACK              ROMEO   15214.0

In [14]:
# TO remove column
my_df.dropna(axis=1)

                  Breed        Color            DogName
0              COCKAPOO        BROWN            CHARLEY
1          GER SHEPHERD  BLACK/BROWN             TACODA
2         BELG MALINOIS      BRINDLE               EICH
3                 MIXED  BLACK/BROWN              ARROW
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY
5      SCOTTISH TERRIER        BLACK             BAILEY
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER
7         DACHSHUND MIX  WHITE/BROWN              LEROI
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS
9    LABRADOR RETRIEVER       YELLOW              TAFFY
10         BICHON FRISE        WHITE               DUDE
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE
12     AM PITT BULL MIX        BROWN               KING
13     AM PITT BULL MIX        WHITE              EMILY
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE
15                MIXED        WHITE              RUSTY
16          TERRIER MIX      SPOTTED              ANNIE
17       COCKER SPANIEL       BLONDE             JUILET
18       COCKER SPANIEL        BLACK              ROMEO

In [43]:
#Fill null values with a specific value
my_df.fillna(value=15302)

                  Breed        Color            DogName  OwnerZip
0              COCKAPOO        BROWN            CHARLEY   15236.0
1          GER SHEPHERD  BLACK/BROWN             TACODA   15238.0
2         BELG MALINOIS      BRINDLE               EICH   15238.0
3                 MIXED  BLACK/BROWN              ARROW   15104.0
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY   15139.0
5      SCOTTISH TERRIER        BLACK             BAILEY   15129.0
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER   15090.0
7         DACHSHUND MIX  WHITE/BROWN              LEROI   15101.0
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS   15238.0
9    LABRADOR RETRIEVER       YELLOW              TAFFY   15228.0
10         BICHON FRISE        WHITE               DUDE   15238.0
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE   15238.0
12     AM PITT BULL MIX        BROWN               KING   15235.0
13     AM PITT BULL MIX        WHITE              EMILY   15108.0
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE   15228.0
15                MIXED        WHITE              RUSTY   15120.0
16          TERRIER MIX      SPOTTED              ANNIE   15302.0
17       COCKER SPANIEL       BLONDE             JUILET   15240.0
18       COCKER SPANIEL        BLACK              ROMEO   15214.0

In [48]:
#Fill null values with a sum or mean
my_df.fillna(value=my_df['OwnerZip'].mean())

                  Breed        Color            DogName      OwnerZip
0              COCKAPOO        BROWN            CHARLEY  15236.000000
1          GER SHEPHERD  BLACK/BROWN             TACODA  15238.000000
2         BELG MALINOIS      BRINDLE               EICH  15238.000000
3                 MIXED  BLACK/BROWN              ARROW  15104.000000
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY  15139.000000
5      SCOTTISH TERRIER        BLACK             BAILEY  15129.000000
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER  15090.000000
7         DACHSHUND MIX  WHITE/BROWN              LEROI  15101.000000
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS  15238.000000
9    LABRADOR RETRIEVER       YELLOW              TAFFY  15228.000000
10         BICHON FRISE        WHITE               DUDE  15238.000000
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE  15238.000000
12     AM PITT BULL MIX        BROWN               KING  15235.000000
13     AM PITT BULL MIX        WHITE              EMILY  15108.000000
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE  15228.000000
15                MIXED        WHITE              RUSTY  15120.000000
16          TERRIER MIX      SPOTTED              ANNIE  15186.777778
17       COCKER SPANIEL       BLONDE             JUILET  15240.000000
18       COCKER SPANIEL        BLACK              ROMEO  15214.000000